.item-list {
    margin: 24px 10px 24px 0;
}

.item-list strong {
    color: #5398f5;
    font-size: 24px;
    margin: 10px 0;
}

.item-list p {
    color: #999999;
    font-size: 16px;
    margin: 10px 0;
}

.item-list:hover {
    cursor: pointer;
}
