.content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 90vh;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    opacity: 0.3;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #ffffff;
}

input {
    color: white;
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 150px;
    width: 85%;
    margin-right: 18px;
    background: transparent;
    font-style: 15px;
    padding: 10px;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 18px;
    background: #2d333b;
    font-style: 15px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background: #595f68;
    transition: 0.3s;
}

.profile {
    display: flex;
    margin: 30px 0;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
}

.profile h3 {
    color: #999999;
    font-size: 26px;
    margin: 0;
}

.profile span {
    display: block;
    color: #999999;
    font-size: 14px;
    margin: 0;
}

.profile p {
    color: #999999;
    font-size: 16px;
    margin: 15px 0 0 0;
}

.repositories {
    font-size: 32px;
    color: #ffffff;
    margin: 12px;
    text-align: center;
}
